body {

}

p{
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none
}

input, input :active, input:focus {
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
    background-color: #F2F2F2;
    outline: none !important;
}

.App {
    max-width: 500px;
    text-align: left;
    margin: auto;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25);
}

.header {
    padding: 10px;
    color: #ffffff;
    background-color: black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.main {
    background-color: #F2F2F2;
    padding: 20px;
}

.wrapper {
    padding: 15px;
}

.panel {
    background-color: darkgray;
    overflow: hidden;
    padding-left:10px;
    margin: 4px;
    position: relative;
    flex: 1 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    justify-content: space-between;
}

.row
{
    padding:15px;
}
.col-sm-3{
 padding: 0 !important;
}