body {

}

p {
    margin: 0;
}

a {
    text-decoration: none !important;
    color: #FFFFFF !important;
}

a:hover, a:focus {
    text-decoration: none !important;
    color: #C9C9C9 !important;
}

input, input :active, input:focus {
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
    background-color: #F2F2F2;
    outline: none !important;
}

.App {
    max-width: 500px;
    text-align: left;
    margin: auto;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25);
}

.header {
    padding: 10px;
    color: #ffffff;
    background-color: black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    position: relative;
}

.main {
    background-color: #F2F2F2;
    padding: 20px;
    overflow: hidden;
}

.wrapper {
    padding: 15px;
}

.panel {
    background-color: darkgray;
    overflow: hidden;
    margin: 5px;
    position: relative;
    flex: 1 0 auto;
    height: 105px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px 6px;
    justify-content: space-between;
    margin: auto;
    height: 300px;
}

.row {
    padding: 15px;
}

.col-sm-3 {
    padding: 0 !important;
}

.add {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 40px 40px;
    float: right;
    text-align: center;
    padding-top: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.opponent {
    float: right;
}

.owner {
    float: left;
}

.login {
    overflow: hidden;
}

.play_board {
    background: #efce47;
    width: 300px;
    margin: auto;
}

.tile {
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
}

.tic {
    font-size: 30px;
    color: darkgray;
}

.big_tic{
    font-size: 120px;
    color: darkgray;
    position: absolute;
    top: -50px;
}

.tac {
    font-size: 30px;
    color: cornflowerblue;

}

.user_name {
    position: relative;
    top: -4px;
    margin: 4px;
}

.not_clickable{
    grid-area: click-guard;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn_wrapper{
    text-align: center;
    margin-top: 30px;
}

.timer{
    color: #282C34;
    font-size: small;
    float: right;
    margin-right: 5px;
}

.item_owner{

}

.item_opponent{

}

.item_login{
    padding-left: 10px;
    padding-right: 10px;
}